apiclient==1.0.4
keras==2.8.0
Keras-Preprocessing==1.1.2
matplotlib==3.5.1
multitasking==0.0.10
numpy==1.22.3
openpyxl==3.0.9
pandas==1.4.2
pandas-datareader==0.10.0
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
sklearn==0.0
statsmodels==0.13.2
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0